<%= form_for(@archtype) do |f| %>
  <% if @archtype.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@archtype.errors.count, "error") %> prohibited this archtype from being saved:</h2>

      <ul>
      <% @archtype.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <h2>Type[s]</h2>
<p class="fields">
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.hidden_field :_destroy %>
  <%= link_to_function "remove", "remove_fields(this)" %>
</p>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
